<a href="https://colab.research.google.com/github/MdRanaSarkar/DataScience_with_Python3/blob/master/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import sklearn
from matplotlib import pyplot as plt

Logistic Regression was used in the biological sciences in early twentieth century. It was then used in many social science applications. Logistic Regression is used when the dependent variable(target) is categorical.
For example,
To predict whether an email is spam (1) or (0)
Whether the tumor is malignant (1) or not (0)

Logistic regression is named for the function used at the core of the method, the logistic function.

The logistic function, also called the sigmoid function was developed by statisticians to describe properties of population growth in ecology, rising quickly and maxing out at the carrying capacity of the environment. It’s an S-shaped curve that can take any real-valued number and map it into a value between 0 and 1, but never exactly at those limits.

1 / (1 + e^-value)

Where e is the base of the natural logarithms (Euler’s number or the EXP() function in your spreadsheet) and value is the actual numerical value that you want to transform. Below is a plot of the numbers between -5 and 5 transformed into the range 0 and 1 using the logistic function

In [3]:
from google.colab import files
files.upload()

Saving marital status.csv to marital status.csv

{'marital status.csv': b'age,status\r\n21,0\r\n33,1\r\n24,0\r\n28,1\r\n17,0\r\n33,1\r\n23,0\r\n30,0\r\n29,1\r\n22,0\r\n26,1\r\n20,0\r\n22,0\r\n24,NaN\r\n34,1\r\n29,1\r\n16,0\r\n18,0\r\n26,1\r\n25,1\r\n'}

Logistic regression uses an equation as the representation, very much like linear regression.

Input values (x) are combined linearly using weights or coefficient values (referred to as the Greek capital letter Beta) to predict an output value (y). A key difference from linear regression is that the output value being modeled is a binary values (0 or 1) rather than a numeric value.

Below is an example logistic regression equation:

y = e^(b0 + b1*x) / (1 + e^(b0 + b1*x))

Where y is the predicted output, b0 is the bias or intercept term and b1 is the coefficient for the single input value (x). Each column in your input data has an associated b coefficient (a constant real value) that must be learned from your training data.

The actual representation of the model that you would store in memory or in a file are the coefficients in the equation (the beta value or b’s).

In [4]:
df=pd.read_csv('marital status.csv')

In [5]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     NaN
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [9]:
df.isnull().sum()

age       0
status    1
dtype: int64

In [16]:
st_median=df['status'].median()

In [17]:
st_median

0.0

In [18]:
df.status=df.status.fillna(st_median)

In [19]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     0.0
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [60]:
x=df[['age']]

In [61]:
x

    age
0    21
1    33
2    24
3    28
4    17
5    33
6    23
7    30
8    29
9    22
10   26
11   20
12   22
13   24
14   34
15   29
16   16
17   18
18   26
19   25

In [62]:
y=df[['status']]

In [63]:
y

    status
0      0.0
1      1.0
2      0.0
3      1.0
4      0.0
5      1.0
6      0.0
7      0.0
8      1.0
9      0.0
10     1.0
11     0.0
12     0.0
13     0.0
14     1.0
15     1.0
16     0.0
17     0.0
18     1.0
19     1.0

In [64]:
from sklearn.model_selection import train_test_split

In [75]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=.30,random_state=1)

In [76]:
X_train

    age
4    17
17   18
7    30
1    33
13   24
0    21
19   25
18   26
9    22
15   29
8    29
12   22
11   20
5    33

In [77]:
X_test

    age
3    28
16   16
6    23
10   26
2    24
14   34

In [78]:
y_train

    status
4      0.0
17     0.0
7      0.0
1      1.0
13     0.0
0      0.0
19     1.0
18     1.0
9      0.0
15     1.0
8      1.0
12     0.0
11     0.0
5      1.0

In [79]:
y_test

    status
3      1.0
16     0.0
6      0.0
10     1.0
2      0.0
14     1.0

In [80]:
from sklearn.linear_model import LogisticRegression

In [81]:
model=LogisticRegression()

In [82]:

model.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [83]:
model.score(X_test,y_test)

0.8333333333333334

In [84]:
model.predict_proba(X_test)

array([[0.28697051, 0.71302949],
       [0.9902967 , 0.0097033 ],
       [0.80161052, 0.19838948],
       [0.50311753, 0.49688247],
       [0.71810555, 0.28189445],
       [0.02465085, 0.97534915]])